<div class="form-inline">
  <div class="form-group">
    <label for="salary">Salary</label>
    {{input value=salary class="form-control" id="salary"}}
  </div>
  <div class="form-group">
    <label for="avg_salary">Avg. Salary</label>
    {{input value=avg_salary class="form-control" id="avg_salary"}}
  </div>
</div>