<div class="form-inline">
  <div class="form-group">
    <label for="salary">{{t "salary"}}</label>
    {{input value=salary class="form-control" id="salary" key-up="change"}}
  </div>
  <div class="form-group">
    <label for="avg_salary">{{t "avg_salary"}}</label>
    {{input value=avg_salary class="form-control" id="avg_salary" key-up="change"}}
  </div>
</div>