<div class="form-inline">
    <div class="form-group">
        <br>
        <label for="vacation_time">{{t "vacation_time"}}</label>
        {{input value=vacations_length class="form-control" id="vacation_time"}}
    </div>
</div>