<div class="row">
  <div class="col-md-12">
    {{my-chart model=model updatePeriod=(action "updatePeriod")}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{salary-for-period vacation_days=vacation_days}}
  </div>
</div>
