<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}NF Vacations{{/link-to}}
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        {{#link-to "selling.chart" tagName="li"}}
          {{#link-to "selling.chart"}}{{t "nav.chart"}}{{/link-to}}
        {{/link-to}}
        {{#link-to "selling.best" "14" tagName="li"}}
          {{#link-to "selling.best" "14"}}{{t "nav.best"}}{{/link-to}}
        {{/link-to}}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>