<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NF Vacations</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        {{#link-to "selling.chart" tagName="li"}}
          {{#link-to "selling.chart"}}{{t "nav.chart"}}{{/link-to}}
        {{/link-to}}
        {{#link-to "selling.best" "14" tagName="li"}}
          {{#link-to "selling.best" "14"}}{{t "nav.best"}}{{/link-to}}
        {{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#link-to "selling.about" tagName="li"}}
          {{#link-to "selling.about"}}{{t "nav.about"}}{{/link-to}}
        {{/link-to}}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>