<div class="row">
  <div class="col-md-6">
    {{salary-input salary=salary avg_salary=avg_salary}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{my-chart model=model updatePeriod=(action "updatePeriod")}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {{salary-for-period salary_for_period=salary_for_period selling_for_period=selling_for_period}}
  </div>
</div>
